<div class="kpi-card">
    <div class="card-header">
        <span class="card-label">Doanh Số</span>
    </div>
    <div class="card-body">
        <h2 class="card-value">{{ "{:,.0f}".format(revenue) }}</h2>
        
        <div class="card-trend positive">
            <i class="fa-solid fa-arrow-up"></i>
            <span>0.1%</span>
        </div>
    </div>
</div>

<div class="kpi-card">
    <div class="card-header">
        <span class="card-label">Số đơn</span>
    </div>
    <div class="card-body">
        <h2 class="card-value">{{ "{:,.0f}".format(orders) }}</h2>
        
        <div class="card-trend positive">
            <i class="fa-solid fa-arrow-up"></i>
            <span>0.1%</span>
        </div>
    </div>
</div>


<div class="kpi-card">
    <div class="card-header">
        <span class="card-label">Số lượng</span>
    </div>
    <div class="card-body">
        <h2 class="card-value">{{ "{:,.0f}".format(quantity) }}</h2>
        
        <div class="card-trend positive">
            <i class="fa-solid fa-arrow-up"></i>
            <span>0.1%</span>
        </div>
    </div>
</div>

<div class="kpi-card">
    <div class="card-header">
        <span class="card-label">AOV</span>
    </div>
    <div class="card-body">
        <h2 class="card-value">{{ "{:,.0f}".format(AOV) }}</h2>
        
        <div class="card-trend positive">
            <i class="fa-solid fa-arrow-up"></i>
            <span>0.1%</span>
        </div>
    </div>
</div>