<div class="chart-container">
    <h3 class="chart-title">Mật độ đơn hàng theo Tỉnh/Thành</h3>
    
    <div class="map-wrapper">
        <div id="vietnamMap"></div>
    </div>
</div>

<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/vn/vn-all.js"></script>

<script src="{{ url_for('static', filename='js/chart_map.js') }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Lấy dữ liệu từ Python
        const rawData = {{ raw_province | tojson }};
        
        // Gọi hàm vẽ bản đồ từ file js/chart_map.js
        initVietnamMap(rawData);
    });
</script>