<div class="filter-row">
    
    <div class="filter-item-wrapper">
        <select multiple name="brand" id="brand-select" placeholder="Brand" data-search="true" data-silent-initial-value-set="true">
            {% for item in filters.brands %}
                <option value="{{ item.brand }}" selected>{{ item.brand }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="filter-item-wrapper">
        <select multiple name="platform" id="platform-select" placeholder="Nền tảng" data-search="true" data-silent-initial-value-set="true">
            {% for item in filters.platforms %}
                <option value="{{ item.PlatformName }}" selected>{{ item.PlatformName }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="filter-item-wrapper">
        <select multiple name="shop" id="shop-select" placeholder="ShopName" data-search="true" data-silent-initial-value-set="true">
            {% for item in filters.shops %}
                <option value="{{ item.ShopName }}" selected>{{ item.ShopName }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="filter-item-wrapper">
        <select multiple name="status" id="status-select" placeholder="StatusName" data-search="true" data-silent-initial-value-set="true">
            {% for item in filters.statuses %}
                <option value="{{ item.StatusName }}" selected>{{ item.StatusName }}</option>
            {% endfor %}
        </select>
    </div>

</div>