<aside class="sidebar">
    <div class="sidebar-brand" style="height: 60px; display: flex; align-items: center; justify-content: center;">
        <i class="fa-solid fa-bars" id="toggleSidebarBtn" style="cursor: pointer; font-size: 20px; color: white;"
            onclick="toggleSidebar()"></i>
    </div>

    {% for group in sidebar_items %}
    {% if group.type == 'group' %}
    <div class="nav-group">
        <div class="nav-group-header" onclick="toggleGroup(this)">
            <i class="fa-solid fa-caret-down arrow-icon"></i>
            <i class="fa-solid {{ group.icon }} main-icon"></i>
            <span>{{ group.title }}</span>
        </div>
        <div class="nav-list">
            {% for item in group.submenu %}
            {% set url = url_for(item.endpoint) if item.endpoint != '#' else '#' %}
            {% set active_class = 'active' if item.endpoint == request.endpoint else '' %}
            <a href="{{ url }}" class="nav-item {{ active_class }}">{{ item.title }}</a>
            {% endfor %}
        </div>
    </div>
    {% elif group.type == 'single' %}
    {% set url = url_for(group.endpoint) if group.endpoint != '#' else '#' %}
    {% set active_class = 'active' if group.endpoint == request.endpoint else '' %}
    <a href="{{ url }}" class="nav-single-item {{ active_class }}">
        <i class="{{ group.icon }}"></i>
        <span>{{ group.title }}</span>
    </a>
    {% endif %}
    {% endfor %}

</aside>